@font-face {
    font-family: 'MyriadProRegular';
    src: url('../fonts/myriadpro-regular-webfont.eot');
    src: local('☺'), url('../fonts/myriadpro-regular-webfont.woff') format('woff'), url('../fonts/myriadpro-regular-webfont.ttf') format('truetype'), url('../fonts/myriadpro-regular-webfont.svg#webfontxtAA6HP6') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-size: 28px;
    color: #3d3d3d;
}

h2 {
    font-size: 22px;
    color: #3d3d3d;
}

body {
    font-size: 13px;
}

form input.text {
    background: #f0f0f0;
    border: 0px;
    padding: 10px;
    font: 13px 'Arial';
}
form input.submit {
    background: #006699 url('../images/icons.png') no-repeat 15px -33px;
    width: 160px;
    height: 50px;
    border: 0px;
    font: 15px 'MyriadProRegular';
    line-height: 58px;
    text-indent: 50px;
    text-align: left;
    color: #FFF;
    cursor: pointer;
}
form input.submit:hover {
    background-color: #00396b;
}
form .error {
    color: red;
    padding-top: 10px;
}

header {
    position: relative;
    padding: 20px 0px 0px 30px;
    font: 13px 'MyriadProRegular';
    width: 930px;
    margin: 0px auto;
    height: 100px;
    background: #f0f0f0;
    border-bottom: 4px solid #a3a3a3;
}
header .user {
    font-size: 14px;
    top: 60px;
    right: 30px;
    position: absolute;
}
header .user span {
    font-weight: bold;
    padding-right: 10px;
}
header .user a {
    color: red;
    text-decoration: underline;
}
#content {
    min-height: 450px;
    width: 960px;
    margin: 0px auto;
}
#content form input.text {

    background: #f0f0f0;
}

footer {    
    width: 930px;
    margin: 0px auto;
    margin-top: 40px;
    font: 13px 'MyriadProRegular';
    color: #363636;
    line-height: 18px;
    background: #ececec;
    border-top: 1px solid #aeaeae;
    padding: 10px 10px 10px 30px;
}

/*
 * LOGIN e CADASTRO
*/

.login,
.cadastro {
    padding-top: 60px;
    width: 400px;
    margin: 0px auto;
}
.login h2,
.cadastro h2{
    padding-bottom: 20px;
}
.login form,
.cadastro form {
    padding-bottom: 10px;
}
.login a,
.cadastro a {
    text-decoration: underline;
}
.login label, 
.cadastro label {
    float: left;
    width: 400px;
    font-size: 14px;
    font-family: 'MyriadProRegular';
    padding-top: 15px;
}
.login input.text,
.cadastro input.text {
    width: 300px;
}
.login input.submit {
    margin-top: 20px;
}
.cadastro input.submit {
    margin-top: 20px;
    background-position: 15px -81px;
    background-color: #00993d;
}
.cadastro input.submit:hover {
    background-color: #006b0c;
}
