@font-face {
    font-family: 'MyriadProRegular';
    src: url('../fonts/myriadpro-regular-webfont.eot');
    src: local('☺'), url('../fonts/myriadpro-regular-webfont.woff') format('woff'), url('../fonts/myriadpro-regular-webfont.ttf') format('truetype'), url('../fonts/myriadpro-regular-webfont.svg#webfontxtAA6HP6') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-size: 28px;
    color: #3d3d3d;
}

header {
    padding: 20px 0px 0px 60px;
    font: 13px 'MyriadProRegular';
    width: 900px;
    margin: 0px auto;
    height: 100px;
    background: #f0f0f0;
    border-bottom: 4px solid #a3a3a3;
}

#content {
    width: 960px;
    margin: 0px auto;
}
#content form input.text {
    
    background: #f0f0f0;
}

footer {    
    width: 960px;
    margin: 0px auto;
    margin-top: 40px;
    font: 13px 'MyriadProRegular';
    color: #363636;
    line-height: 18px;
    background: #ececec;
    border-top: 1px solid #aeaeae;
    padding: 10px;    
}

.search h1 {
    font-family:'MyriadProRegular';
    font-size:26px;
}